@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Karla";
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#main #nav {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Karla";
  color: white;
  width: 100%;
  align-items: center;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 7, 22);
  height: 60px;
}
#main #nav h2 {
  cursor: pointer;
  font-size: 33px;
  font-weight: 800;
}
#main #nav #buttons {
  cursor: pointer;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 270px;
}
#main #nav #buttons a {
  color: white;
  text-decoration: none;
}
#main #nav #buttons h4 {
  transition: 0.2s;
  padding: 7px 10px;
  border-radius: 30px;
}
#main #nav #buttons h4:hover {
  background-color: rgb(0, 132, 255);
}
#main #nav #buttons h4:active {
  transform: translateY(2px);
}
#main #nav i {
  display: none;
}
#main #holiday {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
#main #holiday #allholiday {
  position: relative;
  color: white;
  background-color: rgb(0, 7, 22);
  width: 40%;
  padding: 30px;
  height: 40%;
  border-radius: 20px;
}
#main #holiday #allholiday h2 {
  margin-bottom: 30px;
}
#main #holiday #allholiday form {
  display: flex;
}
#main #holiday #allholiday form label {
  font-weight: 500;
}
#main #holiday #allholiday form input {
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
  width: 80%;
  background-color: rgb(0, 132, 255);
}
#main #holiday #allholiday form input::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
#main #holiday #allholiday form button {
  position: absolute;
  bottom: 30px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: rgb(0, 194, 42);
}
#main #holiday #allholiday form button:hover {
  background-color: rgb(0, 145, 0);
}
#main #holiday #allholiday form button:active {
  transform: translateY(2px);
}
#main #holiday #allholiday form p {
  color: rgb(145, 145, 145);
  position: absolute;
  bottom: 45px;
  left: 40px;
}
#main #holiday #personelholiday {
  padding: 30px;
  position: relative;
  background-color: rgb(0, 7, 22);
  color: white;
  border-radius: 20px;
  height: 40%;
  width: 40%;
}
#main #holiday #personelholiday h2 {
  margin-bottom: 30px;
}
#main #holiday #personelholiday form {
  display: flex;
}
#main #holiday #personelholiday form label {
  font-weight: 500;
}
#main #holiday #personelholiday form input {
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
  width: 80%;
  background-color: rgb(0, 132, 255);
}
#main #holiday #personelholiday form input::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}
#main #holiday #personelholiday form button {
  position: absolute;
  bottom: 30px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 20px;
  right: 30px;
  background-color: rgb(0, 194, 42);
}
#main #holiday #personelholiday form button:hover {
  background-color: rgb(0, 145, 0);
}
#main #holiday #personelholiday form button:active {
  transform: translateY(2px);
}
#main #holiday #personelholiday p {
  color: rgb(145, 145, 145);
  position: absolute;
  bottom: 45px;
  left: 40px;
}

@media screen and (max-width: 600px) {
  #main #nav {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
  }
  #main #nav h2 {
    font-size: 20px;
  }
  #main #nav #buttons {
    display: none;
  }
  #main #nav i {
    font-size: 25px;
    display: inherit;
  }
  #main #holiday {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  #main #holiday #allholiday {
    padding: 15px;
    width: 90%;
    height: 30%;
  }
  #main #holiday #allholiday h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #main #holiday #allholiday form {
    display: flex;
  }
  #main #holiday #allholiday form label {
    font-size: 13px;
    margin-top: 5px;
  }
  #main #holiday #allholiday form input {
    font-size: 14px;
    width: 90%;
    padding: 8px;
  }
  #main #holiday #allholiday form button {
    font-size: 12px;
    bottom: 15px;
    right: 15px;
  }
  #main #holiday #allholiday form p {
    font-size: 10px;
    bottom: 20px;
    left: 30px;
    width: 50%;
  }
  #main #holiday #personelholiday {
    margin-top: 20px;
    width: 90%;
    height: 30%;
    padding: 15px;
  }
  #main #holiday #personelholiday h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #main #holiday #personelholiday form {
    display: flex;
  }
  #main #holiday #personelholiday form label {
    font-size: 13px;
    margin-top: 5px;
  }
  #main #holiday #personelholiday form input {
    font-size: 14px;
    width: 90%;
    padding: 8px;
  }
  #main #holiday #personelholiday form button {
    font-size: 12px;
    bottom: 15px;
    right: 15px;
  }
  #main #holiday #personelholiday form p {
    font-size: 10px;
    bottom: 20px;
    left: 30px;
    width: 50%;
  }
}/*# sourceMappingURL=holiday.css.map */